body {
  background: #000;
  height: 100%;
  width: 100%;
  overflow: hidden;
}

#rocket {
  position: absolute;
  top: 40%;
  left: 85%;
  z-index: 60;
}
#moon {
  position: absolute;
  top: 40%;
  left: 5%;
  z-index: 50;
}
#earth {
  position: absolute;
  top: 35%;
  left: 80%;
  z-index: 50;
}
#asteroide1 {
  position: absolute;
  top: 0%;
  left: 40%;
}
#asteroide2 {
  position: absolute;
  top: 0%;
  left: 55%;
}
#asteroide3 {
  position: absolute;
  top: 0%;
  left: 70%;
}
#asteroide5 {
  position: absolute;
  top: 0%;
  left: 85%;
}
#misil1 {
  position: absolute;
  top: 90%;
  left: 80%;
}
#misil2 {
  position: absolute;
  top: 75%;
  left: 100%;
}
#misil3 {
  position: absolute;
  top: 90%;
  left: 20%;
}
#explosion {
  position: absolute;
  top: 40%;
  left: 45%;
  z-index: 60;
}
#winner {
  position: absolute;
  top: 20%;
  left: 26%;
  z-index: 100;
}


